.sidebar-link.dropdown-close {
    + ul {
        max-height: 100vh;
        visibility: visible;
    }

    .arrow-dropdown {
        transform: rotate(90deg);
    }
}

.sidebar-link:not(.dropdown-close) {
    + ul {
        max-height: 0;
        visibility: hidden;
    }

    
}